* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  visibility: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

body {
  background-color: white;
  color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.25rem;
  min-height: 100vh;
}

/*////////// NAVBAR  /////////*/

.header__nav {
  /* border: 2px solid red; */

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;

  background-color: mediumslateblue;
  box-shadow: 3px 4px 11px 2px rgba(129, 129, 129, 0.75);

  margin-bottom: 1em;
}

.nav__title {
  font-size: 2em;
  color: white;
  cursor: pointer;
}

.nav__login {
  padding: 0.45em 0.9em;
  font-size: inherit;
  font-family: inherit;
  background-color: white;
  border: none;

  border-radius: 15px;
}

.nav__login:hover,
.nav__login:focus {
  background-color: whitesmoke;
  cursor: pointer;
}

/*////////// MAIN  /////////*/

.add__book--container {
  display: flex;
}

.books__add {
  /* border: 2px solid red; */

  padding: 0.45em 0.9em;
  font-size: inherit;
  font-family: inherit;
  background-color: whitesmoke;
  border: none;

  border-radius: 15px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1em;
}

.books__add:hover,
.books__add:focus {
  background-color: rgb(219, 219, 219);
  cursor: pointer;
}

/* ////// MODAL /////// */

.books__add--modal {
  border: 1px solid black;

  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1em;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50%;
  /* max-height: 50%; */

  padding: 0.5em 1em;

  transition: transform 0.3s ease-in-out;
  background-color: rgb(245, 245, 245);

  z-index: 6;
}

.input {
  padding: 0.75em;
  /* border: 1px solid black; */
  border: none;
  font-size: inherit;
  font-family: inherit;
  border-radius: 10px;
}

.modal__submit {
  font-size: inherit;
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: aquamarine;
  border: none;

  margin-bottom: 1em;
}
.modal__submit:hover,
.modal__submit:focus {
  background-color: white;
  cursor: pointer;
}

/*////////// Books Display /////////*/

.books__display {
  /* border: 2px solid red; */

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.25rem;

  margin: 1em;
}

.book {
  /* border: 2px solid blue; */
  padding: 1em;

  text-align: center;
  background-color: whitesmoke;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}

@media (min-width: 550px) {
  .books__display {
    grid-template-columns: repeat(2, 1fr);
    padding: 0.5em;
  }
}
@media (min-width: 1024px) {
  .books__display {
    grid-template-columns: repeat(3, 1fr);
    padding: 2em;
  }
}
@media (min-width: 1440px) {
  .books__display {
    grid-template-columns: repeat(4, 1fr);
    padding: 3em;
  }
}

.book__btn {
  font-size: inherit;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  padding: 0.25em 0.5em;
  /* border: 2px solid red; */
  width: 100%;
}

.hasRead {
  background-color: hsla(120, 94%, 46%, 0.7);
}
.hasRead:focus,
.hasRead:hover {
  background-color: hsla(120, 92%, 40%, 0.7);
  cursor: pointer;
}
.notRead {
  background-color: hsla(0, 93%, 55%, 0.7);
}
.notRead:focus,
.notRead:hover {
  background-color: hsla(0, 91%, 30%, 0.7);
  cursor: pointer;
}
.book__remove {
  background-color: rgb(218, 218, 218);
}
.book__remove:focus,
.book__remove:hover {
  background-color: hsl(0, 0%, 77%);
  cursor: pointer;
}
